body {
  background-color: #2bbbc0; }

.container {
  background-color: #fff;
  width: 100px;
  height: 100px; }

.canvas {
  width: 400px;
  height: 200px;
  border: 5px solid #000;
  background-color: #4a9c31; }
